body {
	color:#333;
	font-size: 18px;
}

header {
	background-color: rgb(248 250 254);
	padding: 1rem;
	h1.secrets-title {
		font-size: 2rem;
		--tw-bg-opacity: 1;
		width: 70%;
	}
	.contain {
		max-width: calc(600px + 6rem);
	}

	a.main-site {
		color: #333;
		&:hover {
			color: #185ce3;
		}
	}
}

.content.secrets>:not(.alignfull) {
	padding-right: 3rem;
	
}

.content.secrets {
	.secrets-form {
		max-width: calc(600px + 6rem);
	}
}

.content.secrets>:not(.alignfull):not(.alignwide) {
	padding-right: 3rem;
	.wp-container-12 {
		padding: 0;
	}
}

.am-block-brands {
	h2 {
		text-align: center;
	}
}

.form {
	margin: 2rem 0;
	width: 100%;
	p {
		font-weight: bold;
	}
	.required {
		color: red;
	}
	.btn-primary {
		width: 100%;
	}
}

.has-primary-50-background-color {
	background-color: rgb(248 250 254);
}

.has-neutral-600-color {
	color:#525d7a
}

.form-field {
	border-radius: 0px;
	&.has-error {
		border:1px solid red;
	}
	&.no-error {
		border:1px solid green;
	}
}

.form-text {
	font-size: 1rem;
	margin: 1em 0;
	text-align: center;
}

.form-text-below {
	font-size: 0.75em;
	margin: 1em 0;
}

textarea {
	height: 120px;
	tab-size: 0;
	width: 100%;
}

.error {
	color:red;
}

.success {
	font-size: 18px;
	font-weight: bold;
}

.btn {
	&.btn-primary {
		background-color:#185ce3;
		color: #fff;
		font-size: 18px;
		margin-top: 0.5em;
		&:hover {
			background-color: rgb(93 141 235);
			color: rgb(255 255 255);
		}
	}
}

#delete-form {
	display: none;
	.btn {
		background-color: #FFD580;
		color: red;
	}
}

#alert-delete {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#alert {
	margin: 2rem auto;
	text-align: center;
	width: 100%;
}

.footer.py-12 {
	padding: 2rem;
}
